---
interface Props {
  embedUrl: string;
  title?: string;
}

const { embedUrl, title = "Location Map" } = Astro.props;
---

<div class="rounded-xl overflow-hidden border border-gray-lighter">
  <iframe
    src={embedUrl}
    width="100%"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title={title}
  ></iframe>
</div>
